<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Joke App</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Tangerine">
   <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Titan+One&display=swap"
    rel="stylesheet">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <!-- <div class="container-fuild"> 
      <div class="row">
        <div class="col-6">

        </div>
        <div class="col-6"></div>

      </div>
    </div> -->
    <div class="wrapper">
      <div class="news-item hero-item">
        <h1>Jokes</h1> 
      </div>
      <div class="news-item delivery standard-item">
        <div class="bubble " contenteditable><%= setup %></div>

      </div>
      <div class="news-item setup standard-item">
        <div class="bubble bubble-bottom-left" contenteditable><%= delivery %></div>

      </div>
      <div class="news-item standard-item">

      </div>
    </div>
  </body>
</html>